{{ define "edit" }}

<body>
    <div class="container mt-5">
        <div class="row">
            <h5>{{ .Path }}</h5>
        </div>
        <div class="row">
            <div class="col">
                <code>.git/config</code>
                <form action="/save_file/" method="post">
                    <input name="path" value="{{ .Path }}" type="hidden">
                    <textarea name="text" rows="20" class="form-control">{{ index .Themes 0 }}</textarea>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
                <br>
            </div>
            <div class="col">
                
            </div>
        </div>
    </div>
        

{{ template "footer" }}
{{ end }}