{{ define "index" }}

<body>
    <div class="container">
        <br>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <form action="/add_folder/" method="post" class="input-group">
                    <input name="path" type="text" class="form-control" placeholder="Path to folder with git repos">
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
        <br>
        <div class="row">
            <table class="table table-striped">
                <tr>
                    <th style="width: 1%;"></th>
                    <th>Path</th>
                    <th>Branch</th>
                    <th>User</th>
                    <th>Remote</th>
                    <th style="width: 1%;"></th>
                </tr>
                {{ range .Repos }}
                <tr>
                    <td style="color: #{{ .Color }};">
                        <i class="bi bi-folder-fill"></i></td>
                    <td>{{ .Path }}</td>
                    <td>{{ .Branch }}</td>
                    <td>{{ .User }}</td>
                    <td>{{ range .Remote }}{{ . }} {{ end }}</td>
                    <td>
                        <a href="/edit?path={{ .Path }}">
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-pencil"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                {{ end }}
            </table>
        </div>
    </div>

{{ template "footer" }}
{{ end }}