{{ define "index" }}

<body>
    <div class="container">
        <br>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <form action="/add_folder/" method="post" class="input-group">
                    <input name="path" type="text" class="form-control" placeholder="Path to folder with git repos">
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
        <br>
        <div class="row">
            <table class="table table-striped">
                <tr>
                    <th style="width: 1%;">Folder</th>
                    <th style="width: 5%;">Name</th>
                    <th>Path</th>
                    <th style="width: 5%;">Branch</th>
                    <th style="width: 5%;">User</th>
                    <th style="width: 5%;">Remote</th>
                </tr>
                {{ range .Repos }}
                <tr>
                    <td style="color: #{{ .Color }};">
                        <i class="bi bi-folder-fill"></i></td>
                    <td>{{ .Name }}</td>
                    <td>{{ .Path }}</td>
                    <td>{{ .Branch }}</td>
                    <td>{{ .User }}</td>
                    <td>{{ .Remote }}</td>
                </tr>
                {{ end }}
            </table>
        </div>
    </div>

{{ template "footer" }}
{{ end }}